#lobbies {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 columns */
    gap: 10px; /* Adjust the gap between items as needed */
    margin-top: 20px; /* Adds some space above the lobby list */
}

.lobby-header, .player {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f9f9f9;
}

.lobby-header {
    font-weight: bold;
    background-color: #f2f2f2;
}


body {
    font-family: Arial, sans-serif;
}

#lobbyTable {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#lobbyTable th, #lobbyTable td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#lobbyTable th {
    background-color: #f2f2f2;
}

.lobbyRow > td {
    background-color: #f9f9f9;
}

.playerCell {
    min-width: 120px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    padding: 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

.emptyPlayer {
    visibility: hidden;
}